<?xml version='1.0' encoding='utf-8'?>
<odoo>
<!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
<menuitem
    id="hospital_menu_root"
    name="Hospital" 
    sequence="0"
    web_icon="om_hospital,static/description/icon.png" />

<menuitem
    id="hospital_menu_master"
    name="Detail Pasien" 
    sequence="0"
    parent="hospital_menu_root"
    />

<menuitem
    id="hospital_menu_janji"
    name="Janji Temu" 
    sequence="10"
    parent="hospital_menu_root"
    />
<!-- This Menu Item must have a parent and an action -->
<menuitem 
    id="hospital_menu__batal_janji" 
    name="batalkan Pertemuan" 
    parent="hospital_menu_janji" 
    action="batal_temu_wizard_action" 
    sequence="20"/>

<menuitem
    id="menu_konfigurasi"
    name="Konfigurasi" 
    sequence="20"
    parent="hospital_menu_root"
    />

</odoo>