<?xml version='1.0' encoding='utf-8'?>
<odoo>
<!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
<menuitem
    id="hospital_menu_root"
    name="Hospital" 
    sequence="0"
    web_icon="om_hospital,static/description/icon.png" />

<menuitem
    id="hospital_menu_master"
    name="Patient Details" 
    sequence="0"
    parent="hospital_menu_root"
    />

</odoo>